.backgroundItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bubbles > div {
  position: absolute;
}

.b1 {
  top: 0;
  left: 0;
  width: 497rem;
  height: 589rem;
}

.b2 {
  top: 0rem;
  right: 0rem;
  width: 879rem;
  height: 841rem;
}

.b3 {
  top: 720rem;
  right: 0;
  width: 701rem;
  height: 1162rem;
}

.b4 {
  top: 1212rem;
  left: 0;
  width: 753rem;
  height: 850rem;
}


.b5 {
  top: 1650rem;
  left: 0rem;
  width: 100%;
  height: 1713rem;
}

.b6 {
  top: 2850rem;
  left: 0rem;
  width: 506rem;
  height: 898rem;
}

.b7 {
  top: 3500rem;
  right: 0rem;
  width: 1107rem;
  height: 1107rem;
}

.b8 {
  top: 4300rem;
  right: 0;
  width: 618rem;
  height: 1199rem;
}

.b9 {
  top: 5480rem;
  left: 101rem;
  width: 1121rem;
  height: 1121rem;
}


.items {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.items > div {
  position: absolute;
}

.i1 {
  top: 651rem;
  right: 183rem;
  width: 238rem;
  height: 170rem;
}

.i2 {
  top: 822rem;
  left: 40rem;
  width: 143rem;
  height: 185rem;
}

.i3 {
  top: 1037rem;
  right: 0;
  width: 545rem;
  height: 718rem;
}

.i4 {
  top: 1855rem;
  left: 0;
  width: 193rem;
  height: 113rem;
}

.i5 {
  top: 3227rem;
  left: 0;
  width: 196rem;
  height: 164rem;
}

.i6 {
  top: 3267rem;
  right: 100rem;
  width: 273rem;
  height: 119rem;
}

.i7 {
  top: 4500rem;
  right: 367rem;
  width: 286rem;
  height: 289rem;
}

.i8 {
  top: 5500rem;
  right: 74rem;
  width: 302rem;
  height: 298rem;
}

.i9 {
  top: 6350rem;
  left: 0;
  width: 227rem;
  height: 166rem;
}

.i10 {
  top: 6350rem;
  right: 0;
  width: 135rem;
  height: 193rem;
}


.bubbles_480 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bubbles_480 > div {
  position: absolute;
  display: none;
}

.b1_480 {
  right: 0;
  top: 1247rem;
  width: 100%;
  height: 638rem;
}

.b2_480 {
  right: 0;
  top: 1684rem;
  width: 100%;
  height: 600rem;
}

.b3_480 {
  top: 2456rem;
  width: 250rem;
  height: 400rem;
  right: 0;
}

.b4_480 {
  top: 2880rem;
  left: 0;
  width: 230rem;
  height: 600rem;
}

.b5_480 {
  top: 3543rem;
  right: 0;
  width: 100%;
  height: 500rem;
}


@media screen and (max-width: 480px) {
  .bubbles > div {
    display: none;
  }

  .bubbles_480 > div {
    display: block;
  }

  .items > div {
    display: none;
  }
  
}