.backgroundItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.b1 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b2 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b3 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b4 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b4 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b5 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b6 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b7 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}

.b8 {
  position: absolute;
  top: 100rem;
  left: 10rem;
}
