.card {
  background: linear-gradient(233.99deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 45.83%);
  backdrop-filter: blur(40px);
  border: 1rem solid rgba(0, 0, 0, 0.4);
  padding: 24rem;
  display: grid;
  gap: 16rem;
  box-sizing: border-box;
  width: 275rem;
  border-radius: 24rem;
}

.text {
  font-size: var(--fz-b-big);
  font-weight: 400;
  line-height: 26rem;
  color: var(--c-white);
  font-family: var(--f-basic);
}

@media screen and (max-width: 480px) {
  .card {
    padding: 16rem;
    gap: 11rem;
    width: 205rem;
    height: 200rem;
  }
  
  .text {
    font-size: var(--fz-b-small);
    line-height: 18rem;
  }
  
}