.card {
  display: flex;
  align-items: flex-start;
  padding-top: 65rem;
}

.content {
  background: linear-gradient(233.99deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 45.83%);
  backdrop-filter: blur(40px);
  border: 1rem solid rgba(0, 0, 0, 0.4);
  border-radius: 40rem;
  width: 278rem;
  height: 290rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24rem;
  box-sizing: border-box;
  position: relative;
}

.imageContainer {
  width: 180rem;
  height: 180rem;
  margin-bottom: 16rem;
  margin-top: -85rem;
}

.text {
  font-family: var(--f-basic);
  color: var(--c-white);
  font-size: var(--fz-b-big);
  line-height: 26rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 480px) {
  
  .content {
    width: 205rem;
    height: 197rem;
    padding: 16rem;
  }
  
  .imageContainer {
    width: 130rem;
    height: 130rem;
    margin-bottom: 16rem;
    margin-top: -80rem;
  }
  
  .text {
    font-size: var(--fz-b-small);
    line-height: 18rem;
  }
}