.wrapper {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: var(--c-dark-2);
  background-size: 24rem 24rem;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 16rem 16rem;
}